In [1]:
from src.data.data_wrangling import *
from src.data.load_data_reviews_kaggle import *
from src.data.load_data import *
from src.data.load_data_non_commercial_imdb import *

# Make sure that if any dependencies changes it will be reflected in the notebook (From the ML course)
%load_ext autoreload
%autoreload 2

In [2]:
# Load movie metadata
df_movies_metadata, df_movies_language, df_movies_countries, df_movies_genres = load_and_clean_movies_df()

# Load movie reviews from kaggle
df_reviews_kaggle = load_movie_reviews_kaggle(df_movies_metadata)

# Load movie average reviews from the non-commercial IMDB
imdb_average_reviews = load_imdb_average_reviews(df_movies_metadata)

/Users/guillaumevitalis/Documents/EPFL/Master/MA1/Applied data analysis/Project/Project/src/data/load_data_non_commercial_imdb.py:15: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, sep="\t")

In [3]:
df_movies_metadata

,wikipedia_ID,freebase_ID,name,revenue,runtime,release_year,release_month,release_day,plot
0,975900,/m/03vyhn,Ghosts of Mars,14010832.0,98.0,2001,8,24,"Set in the second half of the 22nd century, th..."
1,9363483,/m/0285_cd,White Of The Eye,NaN,110.0,1987,<NA>,<NA>,A series of murders of rich young women throug...
2,261236,/m/01mrr1,A Woman in Flames,NaN,106.0,1983,<NA>,<NA>,"Eva, an upper class housewife, becomes frustra..."
3,18998739,/m/04jcqvw,The Sorcerer's Apprentice,NaN,86.0,2002,<NA>,<NA>,"Every hundred years, the evil Morgana returns..."
4,6631279,/m/0gffwj,Little city,NaN,93.0,1997,4,4,"Adam, a San Francisco-based artist who works a..."
...,...,...,...,...,...,...,...,...,...
42199,23851782,/m/06_vb43,The Ghost Train,NaN,82.0,1941,5,3,The film opens with a Great Western express sp...
42200,35228177,/m/0j7hxnt,Mermaids: The Body Found,NaN,120.0,2011,3,19,Two former National Oceanic Atmospheric Admini...
42201,34980460,/m/0g4pl34,Knuckle,NaN,96.0,2011,1,21,This film follows 12 years in the lives of 3 I...
42202,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,NaN,150.0,1992,5,21,"The story takes place in the year 2092,The Sup..."
42203,12476867,/m/02w7zz8,Spliced,NaN,86.0,2002,<NA>,<NA>,The movie is about a teenage girl who loves ho...

In [4]:
df_movies_language

,"Chinese, Hakka Language",Mongolian language,Nahuatl languages,Shanxi,Haryanvi Language,"Fulfulde, Adamawa Language",Yiddish Language,Napoletano-Calabrese Language,Tagalog language,Mohawk Language,...,Tibetan languages,Chadian Arabic,Ukrainian Language,Kuna language,Slovak Language,Assamese Language,Gaelic,Hindi Language,Palawa kani,wikipedia_ID
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,975900
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,3196793
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,28463795
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,9363483
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,261236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81736,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,35228177
81737,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,34980460
81738,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,9971909
81739,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,913762
81740,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,12476867

In [5]:
df_movies_countries

,Haiti,Norway,Georgian SSR,Algeria,Portugal,Socialist Federal Republic of Yugoslavia,Uzbek SSR,Slovenia,Federal Republic of Yugoslavia,Estonia,...,Mexico,France,Weimar Republic,Democratic Republic of the Congo,Nazi Germany,German Democratic Republic,Cyprus,Afghanistan,Iceland,wikipedia_ID
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,975900
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,3196793
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,28463795
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,9363483
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,261236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81736,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,35228177
81737,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,34980460
81738,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,9971909
81739,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,913762
81740,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,12476867

In [6]:
df_movies_genres

,Stop motion,Ninja movie,Indie,Family Film,Tokusatsu,Prison film,Marriage Drama,Comedy Western,Movie serial,Film & Television History,...,Political Documetary,Chick flick,Beach Film,Finance & Investing,Comedy,Fairy tale,Slasher,Journalism,Children's Fantasy,wikipedia_ID
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,975900
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,3196793
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,28463795
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,9363483
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,261236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81736,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,35228177
81737,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,34980460
81738,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,9971909
81739,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,913762
81740,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,12476867

In [7]:
df_reviews_kaggle

,wikipedia_ID,name,release_year,rating,review_detail
0,975900,Ghosts of Mars,2001,6.0,Oh no - not more zombies? Oh-yes; there's no e...
1,975900,Ghosts of Mars,2001,1.0,Lost my v card to this one. And that's pretty ...
2,975900,Ghosts of Mars,2001,7.0,I avoided seeing this film for the longest tim...
3,975900,Ghosts of Mars,2001,7.0,Ghosts of Mars: Saw it again last night. I've ...
4,975900,Ghosts of Mars,2001,5.0,The special effects for the de-limbing and dec...
...,...,...,...,...,...
1859781,664006,Guilty as Sin,1993,NaN,Rebecca de Mornay and Don Johnson made a great...
1859782,664006,Guilty as Sin,1993,10.0,Don Johnson gives an excellent portrayal of a ...
1859783,664006,Guilty as Sin,1993,3.0,!!!! POSSIBLE MILD SPOILER !!!!!As I watched t...
1859784,664006,Guilty as Sin,1993,5.0,SPOILERS Through!!I love thrillers so I was ab...
1859785,664006,Guilty as Sin,1993,5.0,There is something wrong with this picture and...

In [8]:
imdb_average_reviews

       wikipedia_ID     tconst  averageRating
0            975900  tt0228333            4.9
1           9363483  tt0094320            6.1
2            261236  tt0083949            5.9
3           6631279  tt0119548            5.8
4            171005  tt0097499            7.5
...             ...        ...            ...
28023      17437799  tt1039614            4.8
28024       2208485  tt0065261            7.0
28025        883432  tt0187078            6.5
28026      30863646  tt0057318            6.2
28027      25011340  tt0337610            4.8

[28028 rows x 3 columns]