In [1]:
from src.data.data_wrangling import load_and_clean_movies_df

# Make sure that if any dependencies changes it will be reflected in the notebook (From the ML course)
%load_ext autoreload
%autoreload 2

In [2]:
df_movies_metadata, df_movies_language, df_movies_countries, df_movies_genres = load_and_clean_movies_df()

In [3]:
df_movies_metadata

,wikipedia_ID,freebase_ID,name,revenue,runtime,release_year,release_month,release_day,plot
0,975900,/m/03vyhn,Ghosts of Mars,14010832.0,98.0,2001,8,24,"Set in the second half of the 22nd century, th..."
1,9363483,/m/0285_cd,White Of The Eye,NaN,110.0,1987,<NA>,<NA>,A series of murders of rich young women throug...
2,261236,/m/01mrr1,A Woman in Flames,NaN,106.0,1983,<NA>,<NA>,"Eva, an upper class housewife, becomes frustra..."
3,18998739,/m/04jcqvw,The Sorcerer's Apprentice,NaN,86.0,2002,<NA>,<NA>,"Every hundred years, the evil Morgana returns..."
4,6631279,/m/0gffwj,Little city,NaN,93.0,1997,4,4,"Adam, a San Francisco-based artist who works a..."
...,...,...,...,...,...,...,...,...,...
42199,23851782,/m/06_vb43,The Ghost Train,NaN,82.0,1941,5,3,The film opens with a Great Western express sp...
42200,35228177,/m/0j7hxnt,Mermaids: The Body Found,NaN,120.0,2011,3,19,Two former National Oceanic Atmospheric Admini...
42201,34980460,/m/0g4pl34,Knuckle,NaN,96.0,2011,1,21,This film follows 12 years in the lives of 3 I...
42202,913762,/m/03pcrp,The Super Dimension Fortress Macross II: Lover...,NaN,150.0,1992,5,21,"The story takes place in the year 2092,The Sup..."
42203,12476867,/m/02w7zz8,Spliced,NaN,86.0,2002,<NA>,<NA>,The movie is about a teenage girl who loves ho...

In [4]:
df_movies_language

,Mongolian language,Hiligaynon language,Bambara language,Mende Language,Arabic Language,Standard Mandarin,Khmer language,Luxembourgish language,Polish Language,Standard Tibetan,...,Nepali Language,Dari,Navajo Language,Marathi Language,Turkish Language,Sinhala Language,Punjabi language,Tagalog language,Aramaic language,wikipedia_ID
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,975900
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,3196793
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,28463795
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,9363483
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,261236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81736,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,35228177
81737,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,34980460
81738,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,9971909
81739,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,913762
81740,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,12476867

In [5]:
df_movies_countries

,Federal Republic of Yugoslavia,Guinea-Bissau,Monaco,Jamaica,Slovakia,Serbia,Zimbabwe,Senegal,Serbia and Montenegro,Cyprus,...,Puerto Rico,Bolivia,Pakistan,Australia,Montenegro,Haiti,Congo,German Language,Afghanistan,wikipedia_ID
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,975900
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,3196793
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,28463795
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,9363483
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,261236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81736,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,35228177
81737,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,34980460
81738,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,9971909
81739,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,913762
81740,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,12476867

In [6]:
df_movies_genres

,Ensemble Film,Adult,Archives and records,Children's Entertainment,Animation,Black-and-white,Law & Crime,Revisionist Western,The Netherlands in World War II,Juvenile Delinquency Film,...,Pinku eiga,Sci-Fi Thriller,B-movie,Graphic & Applied Arts,Silhouette animation,Essay Film,Family Drama,Business,Fictional film,wikipedia_ID
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,975900
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,3196793
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,28463795
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,9363483
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,261236
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81736,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,35228177
81737,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,34980460
81738,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,9971909
81739,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,913762
81740,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,12476867