In [1]:
import pandas as pd
import re

#Take the ids of the movies for which we have the plot 
plot_ids = set()

with open("plot_summaries.txt", "r", encoding="utf-8") as file:
    for line in file:
        match = re.match(r"(\d+)", line)
        if match:
            plot_id = match.group(1)
            plot_ids.add(plot_id)

In [2]:
movies_data = pd.read_csv("movie.metadata.tsv", sep='\t', header=None)

In [3]:
#Take only the informations of movies for which we have a plot
movies_with_plots = movies_data[movies_data[0].astype(str).isin(plot_ids)]
movies_with_plots = movies_with_plots.rename(columns={0: 'wikipedia_ID', 2: 'title', 3: 'date'})
movies_with_plots.head()

,wikipedia_ID,1,title,date,4,5,6,7,8
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"
6,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant..."
12,6631279,/m/0gffwj,Little city,1997-04-04,NaN,93.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06cvj"": ""Romantic comedy"", ""/m/0hj3n0w"": ..."

In [4]:
#To import the imdb id for the movies we have
imdb_id = pd.read_csv("title.basics.tsv", sep='\t', low_memory=False)

#To have the titles in the same format
imdb_id['primaryTitle'] = imdb_id['primaryTitle'].str.lower().str.replace(" ", "", regex=True)
imdb_id['originalTitle'] = imdb_id['originalTitle'].str.lower().str.replace(" ", "", regex=True)
movies_with_plots['title'] = movies_with_plots['title'].str.lower().str.replace(" ", "", regex=True)

#Let the imdb id only for movies ans tvMovies
imdb_id = imdb_id[(imdb_id['titleType'] == 'movie') | (imdb_id['titleType'] == 'tvMovie')]

#Take only the year of the movie to compare it with the startYear of the imdb dataframe
movies_with_plots['date'] = movies_with_plots['date'].astype(str).str[:4]

#Keep the imdb id of the movies for which we have a plot depending on the title and the year of the movie

merge_primary = pd.merge(movies_with_plots, imdb_id, left_on=['title', 'date'], right_on=['primaryTitle', 'startYear'], how='inner')
merge_original = pd.merge(movies_with_plots, imdb_id, left_on=['title', 'date'], right_on=['originalTitle', 'startYear'], how='inner')

data_for_rantings = pd.concat([merge_primary, merge_original]).drop_duplicates(subset=['wikipedia_ID'])
data_for_rantings = data_for_rantings[['wikipedia_ID', 'tconst']]
data_for_rantings.head()

   wikipedia_ID     tconst
0        975900  tt0228333
1       9363483  tt0094320
2        261236  tt0083949
3       6631279  tt0119548
4        171005  tt0097499

In [5]:
ratings = pd.read_csv("title.ratings.tsv", sep='\t', low_memory=False)
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2096
1  tt0000002            5.6       282
2  tt0000003            6.5      2114
3  tt0000004            5.4       182
4  tt0000005            6.2      2844

In [6]:
#Associate each imdb id to the rating of the movie
ratings = pd.merge(data_for_rantings, ratings, on='tconst', how='inner')
ratings = ratings[['wikipedia_ID', 'averageRating']]
ratings.head()

   wikipedia_ID  averageRating
0        975900            4.9
1       9363483            6.1
2        261236            5.9
3       6631279            5.8
4        171005            7.5

In [7]:
ratings.to_csv("movies_ratings.csv", index=False)