In [1]:
from src.data.load_data import *
from src.data.data_wrangling import *
from src.data.load_data_reviews1 import load_movie_reviews1

# Make sure that if any dependencies changes it will be reflected in the notebook (From the ML course)
%load_ext autoreload
%autoreload 2

In [2]:
df_movies = load_and_clean_movies_df()

In [ ]:
reviews1 = load_movie_reviews1(df_movies)

Loading reviews: part-01.json
Loading reviews: part-02.json
Loading reviews: part-03.json
Loading reviews: part-04.json
Loading reviews: part-05.json
Loading reviews: part-06.json

In [4]:
reviews1

,wikipedia_ID,name,release_year,rating,review_detail
0,5096064,Turistas,2006,7.0,"So, finally, a horror film about the absolute ..."
1,168554,Runaway Train,1985,7.0,The movie had some very impressive scenes. Esp...
2,10565718,Mean Girls,2004,8.0,If your looking for a movie that you could pot...
3,702117,Spider-Man 3,2007,10.0,"Very good movie, the action was spectacular! T..."
4,2750041,Memento,2000,6.0,It's very complex and complicated. The whole f...
...,...,...,...,...,...
44,6872687,Smashing Time,1967,10.0,"This film is just a very fluffy,very enjoyable..."
45,2527032,The Anderson Platoon,1967,NaN,A rare glimpse of the American effort in Vietn...
46,2527032,The Anderson Platoon,1967,7.0,"A ""must see"" movie for anyone truly interested..."
47,2527032,The Anderson Platoon,1967,NaN,Highlights include: soldiers marching through ...
48,10932758,Shutter Bugged Cat,1967,1.0,"Why do they make a kind of ""the best of""-colle..."

In [5]:
# Number of movies that have more than 10 reviews
(reviews1.groupby("name")["review_detail"].count() >= 10).sum()

16766